<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

   <div class="form-inputs">


    <%= f.input :content ,:input_html => {  :style => 'width: 99%; height: 100px;"' } %>

 </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
